{% extends "base.html" %}

{% block content %}

<main class="offcanvas-enabled" style="padding-top: 4rem;">

    <section class="ps-lg-4 pe-lg-3 pt-4">
        <div class="container">

            {% if request.GET.q %}
            <h2 class="title-page">Search results for "{{request.GET.q}}".</h2>
            {% elif request.GET.category %}
            <h2 class="title-page">{{request.GET.category}}</h2>
            {% else %}
            <h2 class="title-page">Our Store</h2>
            {% endif %}
        <div class="row">
             <div class="col-md-12 mb-3">
        <span>{{ products_count }} Items found</span>
    </div>
        </div>
          <div class="row">
    <div class="col-md-6 mb-3 text-md-right">
        <form method="POST" class="form-inline" action="{% url 'store:home' %}">
            {% csrf_token %}
            {{ catform }}

            {{ form }}
            <button type="submit" class="btn btn-primary ml-2" style="width: 5rem;">Filter</button>
        </form>
    </div>

</div>

        </div>

        <div class="container">

            <div class="row">
                {% for product in products %}

                    <div class="col-lg-3 col-md-6 special-grid" >
                        <div class="products-single fix">

                            <a class="card-img-top d-block overflow-hidden" href="{%url 'product-detail' product.id%}">
                                <img src="{{product.image.url}}" alt="img-fluid" style="min-height: 250px; max-height: 250px;">
                            </a>

                            <div class="why-text">
                                <a class="product-meta d-block fs-xs pb-1" href="#">{{product.category}}</a>

                                <h4 class="product-title fs-sm text-truncate ">
                                    <a href="{%url 'product-detail' product.id%}">{{product.product_name}}</a>
                                </h4>

                                <h5>$ {{product.price}}</h5>

                                {% if request.user.user_role != 'farmer' and request.user.user_role != 'specialist' %}
                                   <a href="{% url 'add-cart' product.id %}" class="cart">+<i
                                                    class="ci-cart fs-base ms-1"></i></a>
                                {% endif %}

                            </div>

                        </div>
                    </div>

                {% endfor %}


            </div>
        </div>
        
    </section>

</main>

{% endblock content %}