{% extends "base.html" %}


{% block content %}

<main class="offcanvas-enabled" id="main-content" style="padding-top: 5rem;">

<section class="ps-lg-4 pe-lg-3 pt-4">

    <div class="container">
        <div class="row">
            {% include 'accounts/dashbord_sidebar.html' %}
            <main class="col-md-9">
                <article class="card">
                    <header class="card-header">
                        <strong class="d-inline-block mr-3">Logged in as:</strong>
                        <span>{{user.full_name}}</span>
                    </header>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card" style="text-align: center;">
                                    <div class="cart-body">
                                        {% if request.user.user_role != 'specialist' %}
                                         <h5 class="cart-title">Total Orders</h5>
                                         {% else %}
                                             <h5 class="cart-title">Total Connected Farmer</h5>
                                        {% endif %}
{#                                        {% if request.user.user_role != 'specialist' %}#}
                                        <h4>{{orders_count}}</h4>
{#                                            {% else %}#}
{#                                             <h4>0</h4>#}
{#                                        {% endif %}#}
                                        {% if request.user.user_role == 'farmer' %}
                                        <a href="{%url 'farmer:farmerOrder' user.id%}">View Orders</a>
                                        {% endif %}
                                        {% if request.user.user_role == 'buyer'  %}
                                            <a href="{%url 'my_orders'%}">View Orders</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card" style="text-align: center;">
                                    <div class="cart-body">

                                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="User Picure"
                                            width="50" height="50" style="border-radius: 50%;">
                                        <p class="mb-0">{{user.email}}</p>
                                        <p>{{user.phone_number}}</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                     {% if request.user.user_role != 'buyer'  %}
                        <br/><br/>
                        <div class="row">
                         {% if request.user.user_role == 'farmer'  %}
                            <h5>Connect With Experts</h5>
                               <div class="col-md-12">
                        <table class="table table-hover">
                            <thead>
                              <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone</th>
                                  {% if request.user.user_role == 'farmer'  %}
                                <th scope="col">Department</th>
                                {% endif %}
                              </tr>
                            </thead>
                            <tbody>
                                {% for ul in ulist  %}


                              <tr>
                                 <th scope="row"><a href="{%url 'chatbox' ul.id%}">{{ul.first_name }}&nbsp; {{ul.last_name}}</th></a>

                                <td>{{ul.email}}</td>
                                <td>{{ul.phone_number}}</td>

                                 {% if request.user.user_role == 'farmer'  %}
                                     <td>{{ ul.sp_department }}</td>
                                    {% endif %}
                              </tr>
                              {% endfor %}


                            </tbody>
                          </table>

                    </div>
                          {% else %}
                              <h5>Connected Farmers</h5>
                               <div class="col-md-12">
                        <table class="table table-hover">
                            <thead>
                              <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone</th>

                              </tr>
                            </thead>
                            <tbody>
                                {% for ul in ulist  %}


                              <tr>
                                 <th scope="row"><a href="{%url 'chatbox' ul.id%}">{{ul.first_name }}&nbsp; {{ul.last_name}}</th></a>

                                <td>{{ul.email}}</td>
                                <td>{{ul.phone_number}}</td>


                              </tr>
                              {% endfor %}


                            </tbody>
                          </table>

                    </div>
                             {% endif %}
                        </div>
                    {% endif %}
                    </div>
        <!-- table-responsive .end// -->
        </article> <!-- order-group.// -->
        </main>
    </div> <!-- row.// -->
    </div>


</section>


</main>


{% endblock content %}