{% extends "base.html" %}
{% load static %}
{% block content %}

    <main class="offcanvas-enabled" style="padding-top: 4rem;">

    <section class="ps-lg-4 pe-lg-3 pt-4">
        <div class="about-box-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="banner-frame"> <img class="img-fluid" src={% static 'images/about-img.jpg'%} alt="" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h2 class="noo-sh-title-top">We are <span>Agroplace</span></h2>
                        <p>Farmers, specialists, and buyers in Canada's agriculture industry lack a modern platform to efficiently connect and
                            trade. This results in inefficient distribution, unclear pricing, and missed opportunities. To address this,
                            our website aims to create a user-friendly Virtual Agricultural Marketplace powered by data and technology.
                            This platform will empower farmers with market insights, help specialists offer tailored advice, and enable buyers
                            to make informed purchases. By doing so, we aim to boost efficiency and sustainability in Canada's agriculture sector.</p>
                    </div>
                </div>
                <div class="row my-5">
                    <div class="col-sm-6 col-lg-4">
                        <div class="service-block-inner">
                            <h3>We are Trusted</h3>
                            <p>"Our unwavering commitment to reliability and transparency has established us as a trusted partner in the
                                agricultural community. Farmers and buyers alike depend on us for honest transactions and dependable service,
                                making us a name you can rely on." </p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="service-block-inner">
                            <h3>We are Professional</h3>
                            <p>"As professionals in the agricultural marketplace, we bring a level of expertise and precision to our platform.
                                Our team of seasoned individuals ensures that every interaction is handled with the utmost professionalism,
                                providing a seamless experience for both farmers and buyers."</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="service-block-inner">
                            <h3>We are Expert</h3>
                            <p>"At the core of our platform is a team of experts deeply rooted in the agriculture domain. From crop trends to
                                market dynamics, our in-depth knowledge empowers us to provide expert guidance and support, making us the
                                go-to resource for agricultural insights and transactions."</p>
                        </div>
                    </div>
                </div>
                <div class="row my-4">
                <div class="col-12">
                    <h2 class="noo-sh-title">Meet Our Team</h2>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="hover-team">
                        <div class="our-team"> <img src="images/img-1.jpg" alt="" />
                            <div class="team-content">
                                <h3 class="title">Komal Patel</h3> <span class="post">Full-Stack Developer</span> </div>
                            <ul class="social">
                                <li>
                                    <a href="https://www.linkedin.com/in/komal-patel-82479a104/" class="fab fa-linkedin"></a>
                                </li>

                            </ul>

                        </div>

                        <hr class="my-0"> </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="hover-team">
                        <div class="our-team"> <img src="images/img-2.jpg" alt="" />
                            <div class="team-content">
                                <h3 class="title">Harsh Prajapati</h3> <span class="post">Full-Stack Developer</span> </div>
                            <ul class="social">
                                <li>
                                    <a href="https://www.linkedin.com/in/harshsprajapati/" class="fab fa-linkedin"></a>
                                </li>

                            </ul>

                        </div>

                        <hr class="my-0"> </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="hover-team">
                        <div class="our-team"> <img src="images/img-3.jpg" alt="" />
                            <div class="team-content">
                                <h3 class="title">Ayush Prajapati</h3> <span class="post">Full-Stack Developer</span> </div>
                            <ul class="social">
                                <li>
                                    <a href="https://www.linkedin.com/in/ayush-prajapati-b51bbb166/" class="fab fa-linkedin"></a>
                                </li>

                            </ul>

                        </div>

                        <hr class="my-0"> </div>
                </div>

            </div>
            </div>
        </div>
    </section>
    </main>

{% endblock %}