{% extends "base.html" %}
{% load static %}

{% block content %}


<main class="offcanvas-enabled" style="padding-top: 4rem;">

    <section class="ps-lg-4 pe-lg-3 pt-4">
        <div class="px-3 pt-1">

            <div id="slides-shop" class="cover-slides">
                <ul class="slides-container">
                    <li class="text-center">
                        <img src={% static 'images/banner-01.jpg'%} alt="">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 class="m-b-20"><strong>Welcome To <br> Agroplace</strong></h1>
                                    <p class="m-b-40">See how your users experience your website in realtime or view <br> trends to see any changes in performance over time.</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="text-center">
                        <img src={% static 'images/banner-02.jpg'%} alt="">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 class="m-b-20"><strong>Welcome To <br> Agroplace</strong></h1>
                                    <p class="m-b-40">See how your users experience your website in realtime or view <br> trends to see any changes in performance over time.</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="text-center">
                        <img src={% static 'images/banner-03.jpg'%} alt="">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 class="m-b-20"><strong>Welcome To <br> Agroplace</strong></h1>
                                    <p class="m-b-40">See how your users experience your website in realtime or view <br> trends to see any changes in performance over time.</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="slides-navigation">
                    <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                </div>
            </div>

            <section class="pt-5 pb-4">
                <!-- Heading-->
                <div class="row">
                </div>
            </section>

  <!-- How it works-->
            <section class="pt-4 mb-4 mb-md-5">
                <h2 class="h3 text-center mb-grid-gutter pt-2">How it works?</h2>
                <div class="row g-0 bg-light rounded-3">
                    <div class="col-xl-4 col-lg-12 col-md-4 border-end">
                        <div class="py-3">
                            <div class="d-flex align-items-center mx-auto py-3 px-3" style="max-width: 362px;">
                                <div class="display-3 fw-normal opacity-15 me-4">01</div>
                                <div class="ps-2"><img class="d-block my-2"
                                        src="{% static 'img/grocery/steps/01.png' %}" width="72" alt="Order online">
                                    <p class="mb-3 pt-1">You order your favorite products online</p>
                                </div>
                            </div>
                            <hr class="d-md-none d-lg-block d-xl-none">
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-12 col-md-4 border-end">
                        <div class="py-3">
                            <div class="d-flex align-items-center mx-auto py-3 px-3" style="max-width: 362px;">
                                <div class="display-3 fw-normal opacity-15 me-4">02</div>
                                <div class="ps-2"><img class="d-block my-2"
                                        src="{% static 'img/grocery/steps/02.png' %}" width="72"
                                        alt="Grocery collected">
                                    <p class="mb-3 pt-1">We collects the products from your list</p>
                                </div>
                            </div>
                            <hr class="d-md-none d-lg-block d-xl-none">
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-12 col-md-4">
                        <div class="py-3">
                            <div class="d-flex align-items-center mx-auto py-3 px-3" style="max-width: 362px;">
                                <div class="display-3 fw-normal opacity-15 me-4">03</div>
                                <div class="ps-2"><img class="d-block my-2"
                                        src="{% static 'img/grocery/steps/03.png' %}" width="72" alt="Delivery">
                                    <p class="mb-3 pt-1">We deliver to the door at a time convenient for you</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section class="pt-5 pb-4">
                <!-- Heading-->
                <div class="d-flex flex-wrap justify-content-between align-items-center pt-1 border-bottom pb-4 mb-4">
                    <h2 class="h3 mb-0 pt-3 me-3">Popular Products</h2>
                    <div class="pt-3"><a class="btn btn-outline-accent btn-sm" href="{%url 'store:home'%}">More products<i
                                class="ci-arrow-right ms-1 me-n1"></i></a></div>
                </div>

                <div class="row">
                    {% for product in products %}

                        <div class="col-lg-3 col-md-6 special-grid" >
                            <div class="products-single fix">
                                    <a class="card-img-top d-block overflow-hidden" href="{%url 'product-detail' product.id%}">
                                        <img src="{{product.image.url}}" class="img-fluid" alt="Image" style="min-height: 250px; max-height: 250px;">
                                    </a>
                                <div class="why-text">
                                    <a class="product-meta d-block fs-xs pb-1" href="#">{{product.category}}</a>
                                    <h4 class="product-title fs-sm text-truncate ">
                                        <a href="{%url 'product-detail' product.id%}">{{product.product_name}}</a>
                                    </h4>
                                    <h5> $ {{product.price}}</h5>

                                    {% if request.user.user_role != 'farmer' and request.user.user_role != 'specialist' %}
                                    <a href="{% url 'add-cart' product.id %}" class="cart">+<i
                                            class="ci-cart fs-base ms-1"></i></a>
                                    {% endif %}
                                </div>
                            </div>

                        </div>
                    {% endfor %}
                </div>
            </section>
        {% if request.user.user_role == 'buyer' %}
                    <section class="pt-5 pb-4">
                        <div class="d-flex flex-wrap justify-content-between align-items-center pt-1 border-bottom pb-4 mb-4">
                            <h2 class="h3 mb-0 pt-3 me-3">Recommended Products</h2>
                        </div>
                        <div class="row">
                            {% for product in recommended_products %}
                                <div class="col-lg-3 col-md-6 special-grid">

                                    <div class="products-single fix">
                                        <a class="card-img-top d-block overflow-hidden"
                                           href="{% url 'product-detail' product.id %}">
                                            <img src="{{ product.image.url }}" class="img-fluid" alt="Image"
                                                 style="min-height: 250px; max-height: 250px;">
                                        </a>
                                        <div class="why-text">
                                            <a class="product-meta d-block fs-xs pb-1"
                                               href="#">{{ product.category }}</a>
                                            <h4 class="product-title fs-sm text-truncate ">
                                                <a href="{% url 'product-detail' product.id %}">{{ product.product_name }}</a>
                                            </h4>
                                            <h5> $ {{ product.price }}</h5>

                                            {% if request.user.user_role != 'farmer' and request.user.user_role != 'specialist' %}
                                                <a href="{% url 'add-cart' product.id %}" class="cart">+<i
                                                        class="ci-cart fs-base ms-1"></i></a>
                                            {% endif %}
                                        </div>
                                    </div>

                                </div>
                            {% endfor %}
                        </div>
                    </section>
                {% endif %}

            <div class="pb-3"></div>
            <div class="pb-3"></div>
        </div>

        <!-- ALL JS FILES -->
        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js'%}"></script>
        <script src="{%static 'js/bootstrap.min.js'%}"></script>
        <!-- ALL PLUGINS -->
        <script src="{%static 'js/jquery.superslides.min.js'%}"></script>
        <script src="{%static 'js/bootstrap-select.js'%}"></script>
        <script src="{%static 'js/inewsticker.js'%}"></script>
        <script src="{%static 'js/bootsnav.js'%}"></script>
        <script src="{%static 'js/images-loded.min.js'%}"></script>
        <script src="{%static 'js/isotope.min.js'%}"></script>
        <script src="{%static 'js/owl.carousel.min.js'%}"></script>
        <script src="{%static 'js/baguetteBox.min.js'%}"></script>
        <script src="{%static 'js/form-validator.min.js'%}"></script>
        <script src="{%static 'js/contact-form-script.js'%}"></script>
        <script src="{%static 'js/custom.js'%}"></script>
    </section>

</main>


{% endblock content %}